# Python
*venv*
*cache*
__pycache__/
*.pyc

# Environment
api_keys*
.streamlit/

# Project-specific
*try*
run_all_configs.py
check_pinecone_links.py
utils/compare_chunk_configs.py
utils/compare_embedding_models.py
utils/recreate_index.py

# ignore large files
scrape_and_prepare_data/haifa_scraped.json
*.parquet
*.pdf

